out/*
target/*
project/target/*
project/project/*
js/target/*
js/project/target/*
js/project/project/*
playjson/target/*
playjson/project/target/*
playjson/project/project/*
.idea/tasks.xml
.idea/workspace.xml
