out/*
target/*
project/target/*
project/project/*
js/target/*
js/project/target/*
js/project/project/*
jvm/target/*
jvm/project/target/*
jvm/project/project/*
example/target/*
example/project/target/*
example/project/project/*
.idea/*
.idea_modules/*

